# © 2020 Endian Technologies AB
#
# SPDX-License-Identifier: Apache-2.0

config MODEM_GSM_MNOPROF
       int "MNO profile for the network connection"
       default 100
       help
         This setting is used in the AT+UMNOPROF command to set the MNO
         profile for the network connection.  This value is specific to
         the network provider and must be changed.

config MODEM_GSM_NET_STATUS
       bool "Enable support for network status indication"
       help
         Choose this setting to use a modem GPIO pin as network indication.

if MODEM_GSM_NET_STATUS

config MODEM_GSM_NET_STATUS_PIN
       int "Network status indication GPIO ID"
       default 16
       help
         This setting is used to configure one of the modem's GPIO pins
         as a network status indication.  See the manual for the gpio ids
         and how they map to pin numbers. Only works with U-blox modems.
         This is not meant to be upstreamed!

endif # MODEM_GSM_NET_STATUS

config MODEM_GSM_CONFIGURE_URAT
       bool "Enable support for selecting RATs"
       help
         Choose this setting to select the Radio Access Technologies used.

if MODEM_GSM_CONFIGURE_URAT

config MODEM_GSM_URAT
       string "Radio Access Technologies (RATs)"
       default "7,8,9"
       help
         This setting is used to change the RATs that the modem will use
         to connect to the network
         This is not meant to be upstreamed as-is!

endif # MODEM_GSM_CONFIGURE_URAT

config MODEM_GSM_CONFIGURE_UBANDMASK
       bool "Enable support for selecting band masks"
       help
         Choose this setting to select the band masks for each RAT.

if MODEM_GSM_CONFIGURE_UBANDMASK

config MODEM_GSM_UBANDMASK_M1
       int "Bandmask for LTE-M1"
       default 526494
       help
         This setting is used to change the band mask for LTE-M1. It
         is a bitmask where bit 0 is band 1, etc.
         This is not meant to be upstreamed as-is!

config MODEM_GSM_UBANDMASK_NB1
       int "Bandmask for LTE-NB1"
       default 526494
       help
         This setting is used to change the band mask for LTE-NB1. It
         is a bitmask where bit 0 is band 1, etc.
         This is not meant to be upstreamed as-is!

endif # MODEM_GSM_CONFIGURE_UBANDMASK
