# Kconfig - skb501_dk board configuration
#
# Copyright (c) 2016 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0

config  BOARD_SKB501_DK
	bool "SKB501_DK"
	depends on SOC_NRF52840_QIAA
