# Kconfig - skb501_dk board configuration
#
# Copyright (c) 2016 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_SKB501_DK

config BOARD
	default "skb501_dk"

if IEEE802154

config IEEE802154_NRF5
	default y

endif # IEEE802154

endif # BOARD_SKB501_DK
